Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data = [4,8,15,16,23,42] #given data
series = pd.Series(data) #converting data into series
print(series)
type(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
var_list = [12,23,34,44,45,55,56,67,79,89]
ser = pd.Series(var_list)
print(ser)
type(ser)

0    12
1    23
2    34
3    44
4    45
5    55
6    56
7    67
8    79
9    89
dtype: int64

pandas.core.series.Series

Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [3]:
data = {
    "Name" : ["Alice","Bob","Claire"],
    "Age"  : [25,30,27,],
    "Gender":["Female","Male","Female"]
}
df = pd.DataFrame(data)
print(df)
type(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

pandas.core.frame.DataFrame

In [4]:
'''DataFrame in Pandas:
A DataFrame in Pandas is a 2-dimensional labeled data structure with columns that can be of different types. It is analogous 
to a spreadsheet or a SQL table, or a dictionary of Series objects.'''

#Example
print("---Example of DataFrame---")
data = {
    "id":[12,23,34],
    "Name":["Ram","Syam","Rahul"],
    "Course":["Btech","MBA","CA"]
}
df = pd.DataFrame(data)
print(df)
type(df)

'''Series in Pandas:
A Series in Pandas is a one-dimensional labeled array that can hold data of any type (integer, string, float, objects, etc.).
It is similar to a column in an Excel spreadsheet or a single column in a DataFrame. A Series contains a one-dimensional array
of data and an associated array of data labels called an index.'''

#Example
print("---Example of Series---")
data = [12,23,34,45,45]
ser = pd.Series(data)
print(ser)
type(ser)

---Example of DataFrame---
   id   Name Course
0  12    Ram  Btech
1  23   Syam    MBA
2  34  Rahul     CA
---Example of Series---
0    12
1    23
2    34
3    45
4    45
dtype: int64

pandas.core.series.Series

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [5]:
'''Common Functions to Manipulate Data in a Pandas DataFrame:
Pandas provides a rich set of functions to manipulate and transform data within a DataFrame. Some common functions include:

head() and tail():

head(): Returns the first n rows (by default, n=5).
tail(): Returns the last n rows (by default, n=5).
info(): Provides a concise summary of the DataFrame, including the data types of each column and memory usage.

describe(): Generates descriptive statistics that summarize the central tendency, dispersion, and shape of the dataset's distribution.

shape: Returns a tuple representing the dimensions of the DataFrame (rows, columns).

columns: Returns the column labels of the DataFrame.

index: Returns the index (row labels) of the DataFrame.

loc[] and iloc[]:

loc[]: Accesses a group of rows and columns by labels.
iloc[]: Accesses a group of rows and columns by integer index.
drop(): Drops specified labels (rows or columns) from the DataFrame.

fillna(): Fills missing values with a specified value or method.

dropna(): Drops rows with missing values.

Example Usage:'''

#Example

data = {
    'Product': ['A', 'B', 'C', 'D'],
    'Sales': [100, 150, None, 200],
    'Profit': [10, 15, 5, None]
}
df = pd.DataFrame(data)
print(df.describe())
print()
print(df.head())
print()
print(df.tail())
print()
print(df.info())
print()
print(df.shape)
print()
print(df.columns)
print()
print(df.index)
print()
print(df.dropna())
print()
print(df)

       Sales  Profit
count    3.0     3.0
mean   150.0    10.0
std     50.0     5.0
min    100.0     5.0
25%    125.0     7.5
50%    150.0    10.0
75%    175.0    12.5
max    200.0    15.0

  Product  Sales  Profit
0       A  100.0    10.0
1       B  150.0    15.0
2       C    NaN     5.0
3       D  200.0     NaN

  Product  Sales  Profit
0       A  100.0    10.0
1       B  150.0    15.0
2       C    NaN     5.0
3       D  200.0     NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  4 non-null      object
 1   Sales    3 non-null      float64
 2   Profit   3 non-null      float64
dtypes: float64(2), object(1)
memory usage: 224.0+ bytes
None

(4, 3)

Index(['Product', 'Sales', 'Profit'], dtype='object')

RangeIndex(start=0, stop=4, step=1)

  Product  Sales  Profit
0       A  100.0    10.0
1       B  150.0    15.0

  Product  Sales  Profit
0       A  100.0    10.0
1       B  150.0    15.0
2       C    NaN     5.0
3       D  200.0     NaN

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans: Series and DataFrame are mutable in nature, while Panel is not relevant for newer versions of Pandas and is no longer recommended.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
import pandas as pd

# Create a Series for student names
names_series = pd.Series(['Alice', 'Bob', 'Claire', 'David'])

# Create a Series for student scores
scores_series = pd.Series([85, 90, 78, 92])

# Combine the Series into a dictionary where 'Name' and 'Score' are the column names
data = {'Name': names_series, 'Score': scores_series}

# Create a DataFrame using the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Score
0   Alice     85
1     Bob     90
2  Claire     78
3   David     92